
 .menu-text {   
    padding: 0px 40px 0px 40px;
    /* margin-left: 60px; */
    background: rgb(0, 0, 0);
    color: rgb(14, 13, 13);
    font-size: 50px ;
    /* font-family: 'Libre Barcode 39 Text', cursive;   */
    

}
#menu {
    padding: 0px;
    background-color: black !important;
    color: rgb(173, 171, 171);
    font-size: 13px;
    width: 100%;
}
 
 
 a:visited {
    color: rgb(173, 171, 171);
}

a:hover {
    color: rgb(196, 75, 54);
}

a:active {
    color: rgb(255, 38, 0);
}



.card {
    background-color: rgb(241, 241, 241);
    padding: 17px;
    box-shadow: 6px 10px;
    margin-top: 20px;
   

}