
body {
    background-image: url(https://santu14.github.io/Assets/Images/cartographer.png);
    background-color: rgb(177, 212, 252);
    font-family: 'Fira Code', monospace;
    color: rgb(41, 39, 39);
}


.navbar {
    padding: 0px;
    background-color: black;
    color: rgb(173, 171, 171);
    font-size: 17px;
}

.navbar-brand {   
    padding: 0px 40px 0px 40px;
    margin-left: 60px;
 
    background: rgb(241, 241, 241);
    color: rgb(14, 13, 13);
    font-size: 60px !important;
    font-family: 'Libre Barcode 39 Text', cursive;  

}

.nav-link {    
    color: rgb(173, 171, 171);
}
.nav-link .active {
    color: whitesmoke;
}

ul {
    margin: 0px;
    padding: 40px 20px 0px 0px;
   
}

.divider {
    opacity: 0.3;
}

a:visited {
    color: rgb(173, 171, 171);
}

a:hover {
    color: rgb(196, 75, 54);
}

a:active {
    color: rgb(255, 38, 0);
}


.container {
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 0px;
}

.card {
    background-color: rgb(241, 241, 241);
    padding: 20px;
    box-shadow: 6px 10px;
   

}

.card-body {
    font-size: 10px;
}

@media screen and (max-width: 980px){

    .navbar {
        font-size: 15px;
        padding: 0px;
    }
    .navbar-brand {
        margin: 0px 0px 0px 20px;
        padding: 0px 10px 0px 10px;
        font-size: 40px !important ;
    }
    ul {
        padding: 10px 20px 0px 0px;
    }
    .divider{
        font-size: 30px;
    }
    /* .container {
        margin-top: 30px;
        margin-left: 10px;
    } */

   
    
}

@media screen and (max-width: 768px){

    .navbar {
        font-size: 12px;
    }
    .navbar-brand {
        margin: 0px 0px 0px 20px;
        padding: 0px 10px 0px 10px;
        font-size: 40px !important ;
    }
    ul {
        padding: 0px;
        margin: 0px;
    }
    .divider{
        font-size: 20px;
    }

    .container {
        margin-left: auto;
        margin-right: auto;
   }   
   
    
    
    
}

@media screen and (max-width: 640px){

    .navbar {
        font-size: 12px;
    }
    .navbar-brand {
        margin: 0;
        width: 100%;
        text-align: center;
        padding: 0px 10px 0px 10px;
        font-size: 40px !important ;
        justify-content: center !important;
    }
    ul {
        /* padding: 0px 60px 0px 60px; */
        margin-left: 29.5%;
        margin-right: 29%x;
        justify-content: center !important;
    }
    .divider {
        font-size: 15px;
    }

   .container {
        margin-left: auto;
        margin-right: auto;
   }    
  
}
