
body {
    background-image: url(https://santu14.github.io/Assets/Images/cartographer.png);
    background-color: rgb(177, 212, 252);
    font-family: 'Fira Code', monospace;
    color: rgb(41, 39, 39);
}

/* ----------------Navbar------------- */
.navbar {
    padding: 0px;
    background-color: black;
    color: rgb(173, 171, 171);
    font-size: 13px;
}

.navbar-brand {   
    padding: 0px 40px 0px 40px;
    margin-left: 60px;
    background: rgb(241, 241, 241);
    color: rgb(14, 13, 13);
    font-size: 50px !important;
    font-family: 'Libre Barcode 39 Text', cursive;  

}
.menu-text {   
    padding: 0px 40px 0px 40px;
    margin-left: 60px;
    background: rgb(241, 241, 241);
    color: rgb(14, 13, 13);
    font-size: 50px 
    font-family: 'Libre Barcode 39 Text', cursive;  

}
    /* ----------------Navbar Links------------- */

    .nav-link {    
        color: rgb(173, 171, 171);
    }
    .nav-link .active {
        color: whitesmoke;
    }
   

    ul {
        margin: 0px;
        padding: 0px 20px 0px 0px;
    
    }

    .divider {
        opacity: 0.3;
    }

    a:visited {
        color: rgb(173, 171, 171);
    }

    a:hover {
        color: rgb(196, 75, 54);
    }

    a:active {
        color: rgb(255, 38, 0);
    }

/* ----------------Content------------- */

.container {
    margin-top: 60px;
    margin-left: 45px;
    margin-right: 0px;
    opacity: 1;
    
}
.container p{
    font-size: 15px;
}

.card {
    background-color: rgb(241, 241, 241);
    padding: 17px;
    box-shadow: 6px 10px;
    justify-content: center;
   

}

.card-body {
    font-size: 10px;
}


.projectImg{
    padding: 10px;
}
section {
    position: relative;
}

section h3 {
    position: absolute;
    bottom: 20px;
    left: 10px;
    background-color: black;
    color: whitesmoke;
    opacity: 0.7;
    width: 280px;
    font-size: small;
    text-align: center;
    padding: 20px;
}
/* ----------------Media Query's------------- */

@media screen and (max-width: 980px){

    .navbar {
        font-size: 15px;
        padding: 0px;
    }
    .navbar-brand {
        margin-left: 20px;
        padding: 0px 10px 0px 10px;
        font-size: 40px !important ;
    }
    ul {
        padding: 10px 20px 0px 0px;
    }
    .divider{
        font-size: 30px;
    }
    .container {
        margin-top: 30px;
        margin-left: 8px;
    }
    .resize {
        width: 200px;
    }

   
    
}

@media screen and (max-width: 768px){

    .navbar {
        font-size: 12px;
    }

    .divider{
        font-size: 20px;
    }

    .container {
       
        margin: 30px 8px 0px 8px;
    }
    .resize {
        width: 200px;
    }  
    .container p{
        font-size: 10px;
    }
    
    
    
}

@media screen and (max-width: 640px){

    .navbar {
        font-size: 12px;
    }
    .navbar-brand {
        margin: 0;
        width: 100%;
        text-align: center;
        
    }
    ul {
        margin-left: 29.5%;
        margin-right: 29%x;
        justify-content: center !important;
    }
    .divider {
        font-size: 15px;
    }

   .container {
        margin-left: auto;
        margin-right: auto;
   }  
   .resize {
        width: 450px;
        margin-left: auto;
        margin-right: auto;
 
        
   }  
   h4 {
       text-align: center;
   }
}
