
body {
    background-image: url(https://santu14.github.io/Assets/Images/cartographer.png);
    background-color: rgb(177, 212, 252);
    font-family: 'Fira Code', monospace;
    color: rgb(41, 39, 39);
}

.navbar {
    padding: 0px;
    /* opacity: 0.7; */
    background-color: black;
    color: rgb(173, 171, 171);
    font-size: 20px;
}
.navbar-brand {
   
    padding: 5px 40px 0px 40px;
    margin-left: 60px;
    background: rgb(241, 241, 241);
    color: rgb(14, 13, 13);
    font-size: 60px !important;
    font-family: 'Libre Barcode 39 Text', cursive;  
}
.nav-link {
    color: rgb(173, 171, 171);
}
.nav-link .active {
    color: whitesmoke;
}
.divider {
    opacity: 0.2;
}
ul {
    padding: 40px 40px 0px 0px;
}
a:visited {
    color: rgb(173, 171, 171);
}
a:hover {
    color: rgb(196, 75, 54);
}
a:active {
    color: rgb(255, 38, 0);
}


.aboutMe {
    
    background-color: rgb(241, 241, 241);
    padding: 40px;
    box-shadow: 6px 10px;

}

.container {
    margin: 20px 60px 0px 60px;
}