body {
  background-image: url(https://santu14.github.io/Assets/Images/cartographer.png);
  background-color: rgb(10, 3, 14) !important;
  color: rgb(41, 39, 39) !important;
  font-family: "Fira Code", monospace !important;
}
.accordion {
  width: 500px;
  margin: 20px;
}
.modal-dialog {
  width: 90%;
}

.link-img {
  margin: 20px 30px 0px 80px;
 
  
  width: 60px;
  
}
/* ----------------Navbar------------- */

#header-card {
  margin-bottom: 60px;
}

/* ----------------Navbar Links------------- */

.nav-link {
  color: rgb(14, 14, 14);
}
.nav-link .active {
  color: whitesmoke;
}

ul {
  margin: 0px;
  padding: 0px 20px 0px 20px;
}

.divider {
  opacity: 0.3;
}

a:visited {
  color: rgb(173, 171, 171);
}

li > a:hover {
  color: rgb(196, 75, 54);
}


/* ----------------Content------------- */

.container {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
}
#content {
  opacity: 0;
}
.project-img {
  width: 500px;
}
.card {
  background-color: rgb(241, 241, 241);
  padding: 17px;
  box-shadow: 6px 10px;
  justify-content: center !important;
}
.modal {
  justify-content: center;
  text-align: center;
}

.card-body {
  font-size: 10px !important;
}
.resize {
  margin-top: 20px;
  border-radius: 10px;
}
/* -----Portfolio area------ */
.container p {
  font-size: 15px;
}
.btn:link,
.btn:visited {
  color: rgb(255, 255, 255);
}

.project2 {
  margin: 30px 10px 30px 10px;
  text-align: center;
}

.project {
  margin: 0px 10px 30px 10px;
 
  text-align: center;
}
.project-buttons {
  margin-bottom: 20px;
}
section {
  position: relative;
}

section h3 {
  position: absolute;
  bottom: 20px;
  left: 10px;
  background-color: black;
  color: whitesmoke;
  opacity: 0.7;
  width: 280px;
  font-size: small;
  text-align: center;
  padding: 20px;
}

.particles {
  position: fixed;
  width: 100%;
}
/* ----------------Media Query's------------- */
@media screen and (max-width: 1199px) {
  .typewriter h1 {
    font-size: 2em;
  }
 
  .project-img {
    width: 400px;
  }
}

@media screen and (max-width: 989px) {
  .typewriter h1 {
    font-size: 1.5em;
  }
  .varient {
    margin-top: 30px
  }
  .project-img {
    width: 300px;
  }
  .project-gif {
    width: 450px;
  }
  .navbar {
    font-size: 15px;
    padding: 0px;
  }
  .navbar-brand {
    margin-left: 20px;
    padding: 0px 10px 0px 10px;
    font-size: 40px !important ;
  }
  ul {
    padding: 10px 20px 0px 0px;
  }
  .divider {
    font-size: 30px;
  }
  .container {
    margin-top: 30px;
    margin-left: 8px;
  }
  .resize {
    width: 200px;
  }
}

@media screen and (max-width: 768px) {
  .typewriter h1 {
    font-size: 1.1em;
  }
  .navbar {
    font-size: 12px;
  }

  .divider {
    font-size: 20px;
  }

  .resize {
    width: 200px;
  }
  .container p {
    font-size: 10px;
  }

  .project-img {
    width: 200px;
  }
  .project-gif {
    width: 450px;
  }
}

@media screen and (max-width: 640px) {
  .header-card {
    padding: 0;
  }
  .varient {
    margin-top: 30px
  }
  .navbar {
    font-size: 12px;
  }
  .navbar-brand {
    margin: 0;
    width: 100%;
    text-align: center;
  }
  ul {
    font-size: small;
    margin-left: auto;
    margin-right: auto;
    justify-content: center !important;
  }
  .divider {
    font-size: 15px;
  }

  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .resize {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  h4 {
    text-align: center;
  }
  .modal-title {
    font-size: medium;
  }
  .open-modal {
    font-size: small;
    text-align: center !important;
  }
}

@media screen and (max-width: 440px) {
  .typewriter h1 {
    font-size: 0.7em;
  }
  .varient {
    margin-top: 30px
  }
  .modal-title {
    font-size: small;
  }
  ul {
    font-size: x-small;
  }

  .divider {
    font-size: 10px;
  }
  .header-card {
    margin-bottom: 20px !important;
  }
  .container {
    margin: 20px 8px 0px 8px;
  }
  .resize {
    width: 250px;
    justify-content: center !;
  }
  .container p {
    font-size: 10px;
  }
  .link-img {
    /* margin: 20px auto 0px auto; */
   
    
    width: 50px;
    
  }
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  text-align: center;
  border-right: 0.15em solid rgb(0, 0, 0); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(50, end), blink-caret 0.75s step-end infinite;
}
.typewriter {
  margin: 60px auto 30px auto;
  width: fit-content;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 43ch;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(37, 36, 36);
  }
}
